.footer{
    text-align: center;

}
.footer-elements{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: left;
}
.quicklinks{
    display: flex;
    flex-direction: column;
    
}
.quicklinks h4{
    margin-bottom: 0.7rem;
}
.allrights{
    font-size: 12px;
    font-weight: 600;
    color:#0124B7;
    margin-bottom: 2rem;
}
@media (max-width: 425px) {
    .footer-elements{
        flex-direction: column;
    }
}